<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add an album</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Add an album</h1>

    <form th:object="${album}" th:action="@{/savealbum}" action="#" method="post">

        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" />

        <label for="releaseYear">Release year</label>
        <input type="text" id="releaseYear" th:field="*{releaseYear}" />

        <label for="artistlist">Artist</label>
        <select id="artistlist" th:field="*{artist}" class="form-control">
            <option th:each="artist: ${artists}" th:value="${artist.id}" th:text="${artist.name}">
            </option>
        </select>

        <input type="submit" value="Add" />
        
    </form>

</body>

</html>