<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add an artist</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Add an artist</h1>

    <form th:object="${artist}" th:action="@{/saveartist}" action="#" method="post">

        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>

        <input type="submit" value="Add" />
        
    </form>

</body>

</html>