<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit album</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Edit album</h1>

    <form th:object="${album}" th:action="@{/updatealbum}" action="#" method="post">

        <input type="hidden" id="id" th:field="*{id}" value="*{id}" />

        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" value="*{name}" />
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>

        <label for="releaseYear">Release year</label>
        <input type="text" id="releaseYear" th:field="*{releaseYear}" value="*{releaseYear}" />

        <label for="artistlist">Artist</label>
        <select id="artistlist" th:field="*{artist}" class="form-control">
            <option th:each="artist: ${artists}" th:value="${artist.id}" th:text="${artist.name}">
            </option>
        </select>

        <input type="submit" value="Edit" />
    </form>

</body>

</html>