<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Music database</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Welcome to a music database &#127926;</h1>

    <a sec:authorize="isAnonymous()" href="/login"><button>Sign in</button></a>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <span sec:authorize="isAuthenticated()">Logged in as <span sec:authentication="name"></span></span>
        <input class="btn btn-warning" type="submit" value="Sign Out" />
    </form>

    <table>
        <tr>
            <td><a href="/listartists"><button>All Artists</button></a></td>
            <td><a href="/listalbums"><button>All Albums</button></a></td>
            <td><a href="/listsongs"><button>All Songs</button></a></td>
        </tr>
    </table>

    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" placeholder="Search by name">
        <input type="submit" value="Search">
    </form>

</body>

</html>