<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Music database</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Welcome to a music database</h1>
    <p>Logged in as <span sec:authentication="name"></span></p>

    <a href="/listartists">Artist list</a>
    <a href="/listalbums">Album list</a>
    <a href="/listsongs">Song list</a>

    <form th:action="@{/logout}" method="post">
        <input class="btn btn-warning" type="submit" value="Sign Out" />
    </form>

</body>

</html>