<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Song list</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Song list</h1>

    <a class="" href="/addsong">Add song</a>

    <table>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Length</th>
            <th></th> <!-- Whitespace for edit button -->
            <th></th> <!-- Whitespace for delete button -->
        </tr>
        <tr th:each="song : ${songs}">
            <td><a th:text="${song.name}"
                    th:href="@{https://www.youtube.com/results?search_query={YT}(YT=${song.youtubeQuery})}"
                    target="_blank">Name</a></td>
            <td th:text="${song.album.artist != null ? song.album.artist.name : ''}">Artist</td>
            <td th:text="${song.album != null ? song.album.name : ''}">Album</td>
            <td th:text="${song.length}">Length</td>
            <td><a th:href="@{/editsong/{id}(id=${song.id})}">Edit</a></td>
            <td><a th:href="@{/deletesong/{id}(id=${song.id})}">DELETE</a></td>
        </tr>
    </table>

</body>

</html>