<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Artist list</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Artist list</h1>

    <p><a href="/"><button>Homepage</button></a></p>
    <p><a href="/addartist"><button>Add artist</button></a></p>

    <table>
        <tr>
            <th>Name</th>
            <th></th> <!-- Whitespace for edit button -->
            <th></th> <!-- Whitespace for delete button -->
        </tr>
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.name}">Name</td>
            <td><a th:href="@{/editartist/{id}(id=${artist.id})}">Edit</a></td>
            <td><a th:href="@{/deleteartist/{id}(id=${artist.id})}">DELETE</a></td>
        </tr>
    </table>
</body>

</html>