<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Artist list</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Artist list</h1>

    <a class="" href="/addartist">Add artist</a>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="artist : ${artist}">
            <td th:text="${artist.name}">Name</td>
            <td><a th:href="@{/editartist/{id}(id=${artist.id})}">Edit</a></td>
        </tr>
    </table>
</body>

</html>