<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Album list</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Album list</h1>

    <a class="" href="/addalbum">Add album</a>
    <a href="/">Back to homepage</a>

    <table>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Year</th>
            <th></th> <!-- Whitespace for edit button -->
        </tr>
        <tr th:each="album : ${albums}">
            <td th:text="${album.name}">Name</td>
            <td th:text="${album.artist != null ? album.artist.name : ''}">Artist</td>
            <td th:text="${album.releaseYear}">Year</td>
            <td><a th:href="@{/editalbum/{id}(id=${album.id})}">Edit</a></td>
            <td><a th:href="@{/deletealbum/{id}(id=${album.id})}">DELETE</a></td>
        </tr>
    </table>
</body>

</html>