<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search results</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>

<body>

    <h1>Search results</h1>

    <a href="/"><button>Homepage</button></a>

    <h2>Artists</h2>

    <table th:if="${not #lists.isEmpty(artists)}">
        <tr>
            <th>Name</th>
            <th></th> <!-- Whitespace for edit button -->
            <th></th> <!-- Whitespace for delete button -->
        </tr>
        <tr th:each="artist : ${artists}">
            <td><a th:text="${artist.name}" th:href="@{/listalbums/{id}(id=${artist.id})}">Name</a></td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editartist/{id}(id=${artist.id})}">Edit</a></td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteartist/{id}(id=${artist.id})}">DELETE</a>
            </td>
        </tr>
    </table>

    <p th:if="${#lists.isEmpty(artists)}">No artists found</p>
    
    <h2>Albums</h2>

    <table th:if="${not #lists.isEmpty(albums)}">
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Year</th>
            <th></th> <!-- Whitespace for edit button -->
            <th></th> <!-- Whitespace for delete button -->
        </tr>
        <tr th:each="album : ${albums}">
            <td><a th:text="${album.name}" th:href="@{/listsongs/{id}(id=${album.id})}">Name</a></td>
            <td><a th:text="${album.artist != null ? album.artist.name : ''}" th:href="@{/listalbums/{id}(id=${album.artist.id})}">Artist</a></td>
            <td th:text="${album.releaseYear}">Year</td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editalbum/{id}(id=${album.id})}">Edit</a></td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deletealbum/{id}(id=${album.id})}">DELETE</a></td>
        </tr>
    </table>

    <p th:if="${#lists.isEmpty(albums)}">No albums found</p>

    <h2>Songs</h2>

    <table th:if="${not #lists.isEmpty(songs)}">
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Length</th>
            <th></th> <!-- Whitespace for edit button -->
            <th></th> <!-- Whitespace for delete button -->
        </tr>
        <tr th:each="song : ${songs}">
            <td><a th:text="${song.name}"
                    th:href="@{https://www.youtube.com/results?search_query={YT}(YT=${song.youtubeQuery})}"
                    target="_blank">Name</a></td>
            <td><a th:text="${song.album.artist != null ? song.album.artist.name : ''}"
                th:href="@{/listalbums/{id}(id=${song.album.artist.id})}">Artist</a></td>
            <td th:text="${song.album != null ? song.album.name : ''}">Album</td>
            <td th:text="${song.length}">Length</td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editsong/{id}(id=${song.id})}">Edit</a></td>
            <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deletesong/{id}(id=${song.id})}">DELETE</a></td>
        </tr>
    </table>

    <p th:if="${#lists.isEmpty(songs)}">No songs found</p>

</body>

</html>